In [1]:
import numpy as np
import pandas as pd

In [2]:
table1= pd.read_excel('Table1.xlsx')
table1.head()

   CustomerNum
0           17
1           20
2            5
3           28
4           15

In [3]:
table2= pd.read_excel('Table 2.xlsx')
table2.head()

   CustomerNum
0           84
1           85
2           72
3          100
4           65

In [4]:
df1=table1.CustomerNum.sort_values()
df1=df1.reset_index(drop=True)

In [5]:
df1=list(df1)

In [6]:
df2=table2.CustomerNum.sort_values()
df2=df2.reset_index(drop=True)

In [7]:
df2=list(df2)

In [8]:
list1=[df1[i:i+3] for i in range(0,len(df1),3)]
list1

[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [10, 11, 12],
 [13, 14, 15],
 [16, 17, 18],
 [19, 20, 21],
 [22, 23, 24],
 [25, 26, 27],
 [28, 29, 30],
 [31, 32, 33],
 [34, 35, 36],
 [37, 38, 39],
 [40, 41, 42],
 [43, 44, 45],
 [46, 47, 48],
 [49, 50]]

In [9]:
len(list1)

17

In [10]:
list2=[df2[i:i+4] for i in range(0,len(df2),4)]
list2

[[51, 52, 53, 54],
 [55, 56, 57, 58],
 [59, 60, 61, 62],
 [63, 64, 65, 66],
 [67, 68, 69, 70],
 [71, 72, 73, 74],
 [75, 76, 77, 78],
 [79, 80, 81, 82],
 [83, 84, 85, 86],
 [87, 88, 89, 90],
 [91, 92, 93, 94],
 [95, 96, 97, 98],
 [99, 100]]

In [11]:
len(list2)

13

In [12]:
def combine(list1,list2):
    new=[]
    for i in range(len(list2)):
        new.append(list1[i])
        new.append(list2[i])
    return new
X=combine(list1,list2)
print(X)

[[1, 2, 3], [51, 52, 53, 54], [4, 5, 6], [55, 56, 57, 58], [7, 8, 9], [59, 60, 61, 62], [10, 11, 12], [63, 64, 65, 66], [13, 14, 15], [67, 68, 69, 70], [16, 17, 18], [71, 72, 73, 74], [19, 20, 21], [75, 76, 77, 78], [22, 23, 24], [79, 80, 81, 82], [25, 26, 27], [83, 84, 85, 86], [28, 29, 30], [87, 88, 89, 90], [31, 32, 33], [91, 92, 93, 94], [34, 35, 36], [95, 96, 97, 98], [37, 38, 39], [99, 100]]

In [16]:
answer = [item for sublist in X for item in sublist]
print(answer)

[1, 2, 3, 51, 52, 53, 54, 4, 5, 6, 55, 56, 57, 58, 7, 8, 9, 59, 60, 61, 62, 10, 11, 12, 63, 64, 65, 66, 13, 14, 15, 67, 68, 69, 70, 16, 17, 18, 71, 72, 73, 74, 19, 20, 21, 75, 76, 77, 78, 22, 23, 24, 79, 80, 81, 82, 25, 26, 27, 83, 84, 85, 86, 28, 29, 30, 87, 88, 89, 90, 31, 32, 33, 91, 92, 93, 94, 34, 35, 36, 95, 96, 97, 98, 37, 38, 39, 99, 100]

# Question is ambiguous because It is not possible to combine completly. obviously two lists will have different length.

## when the elements of list 2 is run out I am appending the remening value of list 1

In [17]:
Y= df1[39:]
print(Y)

[40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [18]:
answer.extend(Y)

print(answer)

[1, 2, 3, 51, 52, 53, 54, 4, 5, 6, 55, 56, 57, 58, 7, 8, 9, 59, 60, 61, 62, 10, 11, 12, 63, 64, 65, 66, 13, 14, 15, 67, 68, 69, 70, 16, 17, 18, 71, 72, 73, 74, 19, 20, 21, 75, 76, 77, 78, 22, 23, 24, 79, 80, 81, 82, 25, 26, 27, 83, 84, 85, 86, 28, 29, 30, 87, 88, 89, 90, 31, 32, 33, 91, 92, 93, 94, 34, 35, 36, 95, 96, 97, 98, 37, 38, 39, 99, 100, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]